@font-face {
  font-family: 'symbola';
  src: url('fonts/SymbolaSubset.eot'); /* IE9 Compat Modes */
  src: url('fonts/SymbolaSubset.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SymbolaSubset.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SymbolaSubset.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'dejavu';
  src: url('fonts/DejavuSubset.eot'); /* IE9 Compat Modes */
  src: url('fonts/DejavuSubset.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/DejavuSubset.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/DejavuSubset.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: aliceblue;
}
* {margin: 0;}

#letters{
    height:1.2em;
    font-size: 100px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.click{
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.key{
  font-size: 32px;
  width: 1.5em;
}